/* src/Header.css */
.head-container {
    background-color: #f8f9fa;
    padding: 20px 0;
    width: 100%; /* Ensure the header takes full width */
  }
  
  /* Add styles for the navbar */
  .navbar {
    background-color: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 15px;
  }
  
  .nav-link {
    font-size: 16px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  
  .cart-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .cart-button:hover {
    background-color: #0056b3;
  }
  